@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300..900&family=Oswald:wght@200..700&display=swap');

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 220px;
  min-height: 100vh;
}
